---
layout: base.njk
---

{% if includeHero and hero and hero[0] and hero[0].image %}
<div class="hero-container">
  {% set heroImage = hero[0] %}
  <img src="{{ heroImage.image }}" alt="{{ heroImage.alt or 'Hero image' }}" class="hero-image" sizes="(min-width: 1200px) 1200px, 100vw" />
</div>
{% endif %}

<div class="gallery">
  <div class="featured-container {% if not (includeHero and hero and hero[0] and hero[0].image) %}featured-has-margin{% endif %}">
    {% if featured_image and featured_image.image %}
      {% set featImage = featured_image %}
      <img src="{{ featImage.image }}" alt="{{ featImage.alt or 'Featured image' }}" class="featured-image" sizes="(min-width: 1200px) 1200px, 100vw" />
    {% endif %}
  </div>

  {% if featured_image and featured_image.title %}
    <div class="featured-title">{{ featured_image.title }}</div>
  {% endif %}

  <div class="thumbnail-grid">
    {% for image in images %}
      {% if image and image.image %}
        {% set thumbImage = image %}
        {% set pageUrl = "/" + galleryPath %}
        {% if galleryPath %}{% set pageUrl = pageUrl + "/" %}{% endif %}
        {% set pageUrl = pageUrl + image.title | slug + "/" %}
        <a href="{{ pageUrl }}" class="thumbnail-wrapper">
          <img src="{{ thumbImage.image }}" alt="{{ thumbImage.alt or 'Thumbnail image' }}" class="thumbnail" sizes="(min-width: 200px) 400px" />
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
