---js
{
  pagination: {
    data: "action.images",
    size: 1,
    alias: "featured_image"
  },
  category: "action",
  permalink: "/{{ category | slug }}/{{ featured_image.title | slug }}-{{ pagination.pageNumber }}/index.html",
  layout: "gallery.njk",
  eleventyComputed: {
    title: data => `${data.featured_image.title || 'Image'}`,
    description: data => data.featured_image.alt,
    images: data => data.action.images,
    galleryPath: "{{ category }}",
    includeHero: false
  }
}
--- 
