---js
{
  pagination: {
    data: "action.images",
    size: 1,
    alias: "featured_image"
  },
  category: "action",
  permalink: "/{{ category }}/{{ featured_image.title | slug }}/index.html",
  layout: "gallery.njk",
  eleventyComputed: {
    title: data => `${data.featured_image.title || 'Image'} - Action & Water Photography`,
    description: data => data.featured_image.alt || 'Action and water photography image',
    images: "{{ action.images }}",
    galleryPath: "{{ category }}",
    includeHero: false
  }
}
--- 
