---js
{
  pagination: {
    data: "travel.images",
    size: 1,
    alias: "featured_image"
  },
  permalink: "/travel/{{ pagination.pageNumber }}/index.html",
  layout: "gallery.njk",
  eleventyComputed: {
    title: data => `${data.featured_image.title || 'Image'} - Travel Photography`,
    description: data => data.featured_image.alt || 'Travel photography image',
    images: "{{ travel.images }}",
    galleryPath: "travel",
    includeHero: false
  }
}
--- 
