---js
{
  pagination: {
    data: "portfolio.images",
    size: 1,
    alias: "featured_image"
  },
  permalink: "/{{ pagination.pageNumber }}/index.html",
  layout: "gallery.njk",
  eleventyComputed: {
    title: data => `${data.featured_image.title || 'Image'} - Portfolio`,
    description: data => data.featured_image.alt || 'Portfolio image',
    images: data => data.portfolio.images,
    galleryPath: "",
    includeHero: false
  }
}
--- 
