---
layout: base.njk
title: "About"
---

<div class="content-page">  
  <div class="content-body">
    <h1>About Greg</h1>
    <p>Greg is an expedition photographer based near Bristol, UK. Experienced in the outdoors, he has been on numerous ski touring expeditions across the Swedish Arctic, mountaineering trips and expeditions to the Alps and Russian Altai, sailed in the Norwegian Arctic, Svalbard, and around Cape Horn, worked in Egypt as a Divemaster, and as a cycling guide around the hills of Nice and the Côte d'Azur.</p>

    <p>He has worked for, partnered with, and been featured by organisations such as Peak Design, NASA, Sidetracked Magazine, Vertical Shot Expeditions, Café du Cycliste, Visit Faroe Islands, Outdoor Photography Magazine, Restrap, Vertebrate Publishing, and many others. He's also an <a href="https://fstopgear.com/">f-stop</a> ambassador.</p>

    <p>In addition, he is the photographer of the official Raspberry Pi Desktop wallpapers: <a href="https://stories.gregannandale.com/raspberry-pi-desktop-images">2016</a> and <a href="https://stories.gregannandale.com/raspberry-pi-desktop-images-2025">2025</a> collections.</p>

    <p>Greg also works part-time as a Principal Software Engineer at the <a href="https://www.raspberrypi.org">Raspberry Pi Foundation</a>; helping to enable all young people to realise their full potential through computing.</p>

    <div class="content-footer">
      <p>Email – <a href="mailto:greg@gregannandale.com">greg@gregannandale.com</a></p>
    </div>
  </div>
</div> 
