---js
{
  layout: "gallery.njk",
  title: "Action and Water",
  eleventyComputed: {
    hero: data => data.action.hero,
    images: data => data.action.images,
    featured_image: data => data.action.images[0],
    galleryPath: "action-and-water",
    includeHero: true
  }
}
--- 
