---
layout: base.njk
title: "Contact"
---

<div class="content-page">  
  <div class="content-body">
    <h1>Contact</h1>
    <p>Email – <a href="mailto:greg@gregannandale.com">greg@gregannandale.com</a></p>
  </div>
</div> 
