---js
{
  layout: "gallery.njk",
  title: "Expeditions",
  eleventyComputed: {
    hero: data => data.expeditions.hero,
    images: data => data.expeditions.images,
    featured_image: data => data.expeditions.images[0],
    galleryPath: "expeditions",
    includeHero: true
  }
}
--- 
