---js
{
  layout: "gallery.njk",
  title: "Portfolio",
  eleventyComputed: {
    hero: data => data.portfolio.hero,
    images: data => data.portfolio.images,
    featured_image: data => data.portfolio.images[0],
    galleryPath: "",
    includeHero: true
  }
}
---
