.hero-container {
  --overlay-opacity: 0;
  height: 750px;
  margin-top: var(--header-height);
  width: 100%;

  &::after {
    background-color: var(--color-background);
    content: '';
    inset: 0;
    opacity: var(--overlay-opacity);
    position: absolute;
    z-index: 0;
  }

  .hero-image {
    height: 750px;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: var(--header-height);
    width: 100%;
    z-index: -1;
  }
}

.gallery {
  background-color: var(--color-background);
  padding: 4rem 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.featured-container {
  margin: 0 auto;

  img {
    background-color: #fff;
    display: block;
    height: auto;
    margin: 0 auto;
    max-height: 1200px;
    max-width: 1350px;
    padding: 2rem;
    width: auto;
  }
}

.featured-has-margin {
  margin-top: 1rem;
}

.featured-title {
  color: var(--color-text);
  font-size: 0.8rem;
  margin: 1.5rem auto 4rem;
  max-width: 1200px;
  text-align: center;
}

.thumbnail-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 2rem;

  .thumbnail-wrapper {
    display: block;
    height: 267px;
    overflow: hidden;
    width: 400px;
    
    &:hover {
      opacity: 0.8;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

@media (max-width: 1400px) {
  .thumbnail-grid {
    grid-template-columns: repeat(2, 400px);
  }

  .featured-container {
    img {
      max-width: 900px;
      padding: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .thumbnail-grid {
    gap: 1.5rem;
    grid-template-columns: repeat(1, 400px);
  }

  .featured-container {
    img {
      height: 100%;
      margin-top: 1rem;
      object-fit: contain;
      padding: 1rem;
      width: 100%;
    }
  }
}

@media (min-width: 2000px), (max-width: 750px) {
  .hero-container {
    display: none;
  }
}

@media (max-width: 500px) {
  .featured-container {
    margin-top: 2rem;
  
    img {
      padding: 0.5rem;
      width: 100%;
    }
  }

  .thumbnail-grid {
    grid-template-columns: repeat(1, 300px);
    padding: 1rem;
    
    .thumbnail-wrapper {
      height: 200px;
      width: 300px;
    }
  }
}
