.main-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 2rem;
}

nav {
  background-color: var(--color-background);
  display: grid;
  padding: 0 1rem;
  place-items: center;
  position: sticky;
  top: 0;

  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;

    a {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .hamburger {
    background-color: var(--color-background);
    border: none;
    cursor: pointer;
    display: none;
    margin-top: 0.25rem;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 0;
    z-index: 100;

    span {
      background-color: var(--color-text);
      display: block;
      height: 3px;
      margin: 5px 0;
      transition: all 0.3s ease;
      width: 25px;
    }
  }

  > ul {
    grid-auto-flow: column;

    > li {
      margin: 0 0.5rem;

      .dropdown-title {
        background-color: transparent;
        border: none;
        font-family: inherit;
        margin: 0 0.75rem 0 0.5rem;
      }

      a,
      .dropdown-title {
        color: #fff;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  ul {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
    }
  }
}

.nav-galleries {
  display: none;
}

.dropdown {
  position: relative;

  .dropdown-title {
    align-items: center;

    &:after {
      border: 0.35rem solid transparent;
      border-top-color: var(--color-text);
      content: "";
      margin: 0.35em 0 0 0.25em;
      position: absolute;
      transform: translateY(0.15em);
    }
  }

  .dropdown-menu {
    background-color: var(--color-background);
    left: 50%;
    min-width: 15ch;
    opacity: 0.3;
    padding: 0.5rem;
    position: absolute;
    top: calc(100% - 0rem);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    transition: 280ms all 120ms ease-out;
    visibility: hidden;

    a {
      color: var(--color-text);
      display: block;
      opacity: 0;
      padding: 0.5em;
      transition: 280ms all 120ms ease-out;

      &:hover {
        color: var(--color-text-muted);
      }

      &:focus {
        color: var(--color-text-muted);
      }
    }
  }

  @media (min-width: 768px) {
    &:hover,
    &:focus-within {
      .dropdown-title {
        color: var(--color-text-muted);

        &:after { 
          border-top-color: var(--color-text-muted);
        }
      }

      .dropdown-menu {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
        visibility: visible;

        a {
          opacity: 1;
        }
      }

      &:after {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0;

    .nav-links {
      a {
        font-size: 1rem;
      }
    }
    
    .hamburger {
      display: block;
    }

    .nav-galleries {
      display: block;
      margin-bottom: -2rem;
    }

    > ul {
      background-color: var(--color-background);
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 4rem 2rem;
      position: fixed;
      right: -100%;
      top: 0;
      transition: right 0.3s ease;
      width: 100%;
      z-index: 99;

      > li {
        font-size: 2rem;
        margin: 0;
        text-align: left;
        width: 100%;

        .dropdown-title {
          display: none;
        }

        a {
          display: block;
          padding: 0.5rem 0;
        }
      }
    }

    &.active {
      .hamburger {
        span:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }

      > ul {
        right: 0;
      }
    }
  }

  .dropdown {
    .dropdown-title {
      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      background: transparent;
      display: block;
      opacity: 1;
      padding: 0;
      margin-left: 2rem;
      align-items: left;;
      position: static;
      transform: none;
      visibility: visible;
      width: 100%;

      &:hover, &:focus-within {
        transform: none;
      }

      a {
        opacity: 1;
        padding: 0.5rem 0;
      }
    }

    &:hover,
    &:focus-within {
      .dropdown-menu {
        display: block;
      }
    }
  }
}
