nav {
  background-color: var(--color-background);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;

  > ul {
    grid-auto-flow: column;

    > li {
      margin: 0 0.5rem;

      .dropdown-title {
        background-color: transparent;
        border: none;
        font-family: inherit;
        margin: 0 0.75rem 0 0.5rem;
      }

      a,
      .dropdown-title {
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 1rem;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    li {
      padding: 0;
    }
  }
}

.dropdown {
  position: relative;

  .dropdown-title {
    align-items: center;

    &:after {
      content: "";
      position: absolute;
      border: 0.35rem solid transparent;
      border-top-color: var(--color-text);
      margin: 0.35em 0 0 0.25em;
      transform: translateY(0.15em);
    }
  }

  .dropdown-menu {
    position: absolute;
    min-width: 15ch;
    left: 50%;
    top: calc(100% - 0rem);
    transition: 280ms all 120ms ease-out;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    visibility: hidden;
    opacity: 0.3;
    padding: 0.5rem;
    background-color: var(--color-background);

    a {
      color: var(--color-text);
      display: block;
      padding: 0.5em;
      opacity: 0;
      transition: 280ms all 120ms ease-out;

      &:hover {
        color: var(--color-text-muted);
      }

      &:focus {
        color: var(--color-text-muted);
      }
    }
  }

  &:hover,
  &:focus-within {
    .dropdown-title {
      color: var(--color-text-muted);
    }

    .dropdown-menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;

      a {
        opacity: 1;
      }
    }

    &:after {
      opacity: 1;
    }
  }
}
